.header{
    box-sizing: border-box;
    width: 100%;
}
.one{
    float: left;
    font-size: large;
    margin: 5px;
}
.two{
    text-align: center;
}
.two .line{
    text-align: center;
    margin-top: 50px;
}
button{
    font-size: medium;
    margin-right: 25px;
}